.header  {
  display: flex;
  flex: 1;
  font-family: monospace;
  background: papayawhip;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.logo {
  display:flex;
  flex: 1;
  align-items:center;
  justify-content:center;
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  max-width: 100px;
  max-height: 100px;
  
  
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display:flex;
  flex: 1;
  margin-right:10px;
  padding-left: 10px;
  padding-right: 10px;
  
}

a {
  display: flex;
  font-size: 22px;
  background: white;
  padding: 8px;
  margin: 0 10px;
  /* this removes the line under the links */
  text-decoration: none;
 
}

.left-links {
    display: flex;
    flex: 0 1 auto;    
    }
    
.right-links{
    display: flex;
    flex: 0 1 auto;
    
.#{

}
   
    
   
    
    

    
    
